<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Flutter-PicGo</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Media access needed for a better experience.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Calendars access needed for a better experience.</string>
	<key>NSCameraUsageDescription</key>
	<string>如果不允许，你将无法访问相机进行扫描二维码～</string>
	<key>NSContactsUsageDescription</key>
	<string>Contacts access needed for a better experience.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location access needed for a better experience.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location access needed for a better experience.</string>
	<key>NSMotionUsageDescription</key>
	<string>Motion access needed for a better experience.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>如果不允许，你将无法访问系统相册进行为你的图床照片上传以及获取上传后的照片链接～</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Speech access needed for a better experience.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
